* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Roboto, "Open Sans", "Helvetica Neue", sans-serif;
}

.library-container {
    padding: 20px;
    display: flex;
    gap: 20px;
}

.book-card {
    min-height: 200px;
    width: 200px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
    border: 2px solid black;
    overflow: hidden;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgb(0,0,0,0.1);
}

.book-card img{
    width: auto;
    height: 200px;
}

.book-card h2{
    font-size: 1.2rem;
}

.book-card p {
    font-size: 1rem;
}

#newBtn{
    margin: 10px;
    padding: 5px;
    font-size: 1.2rem;
    color: rgb(255, 255, 255);
    background-color: rgb(135, 212, 19);
    border-radius: 10px;
    cursor: pointer;
}


#formDialog{
    display: flex;
}

#dialogForm{
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: auto;
    width: 400px;
}
